body{
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #0f667c;
  line-height: 1.8;
}

img{
  max-width: 100%;
  height: auto;
}

img.frame{
  border: 1px solid #dddddd;
}

#container{
  max-width: 600px;
  margin: 30px auto;
  color: #dddddd;
}

.info{
  background-color: #dddddd
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.name{
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 2.4em;
  border-bottom: 1px solid #1ac4bb;
  color: #1ac4bb;
}

.btns{
  display: flex;
}

.btns .btn{
  color: #1ac4bb;
}

.btns .next{
  margin-left: auto;
}

.btns .prev{
  margin-right: auto;
}

.practice_page{
  background-color: gold;
}